# Ignore images folder in download data module as nd2 files are too large
1.wave1_data/0.download_data/images

# Ignore max-projected images since it would be too large
1.wave1_data/1.max_projection/max_projected_images

# Ignore illumination corrected images due to large size
1.wave1_data/2.illumination_correction/IC_corrected_images

# Ignore python related files/folders
__pycache__/

# Ignore log files since those are created during runs
logs*

# Ignore SQLite outputs from CP analysis due to large size
analysis_output*

# Ignore CytoTable logs
runinfo*

# Ignore processed features due to large size
4.preprocess_features/data*

# Ignore QC results as these are intermediate files
2.illumination_correction/qc_results*

# Ignore any folder called "old" as it contains previous runs that can be used for comparisons
old*

# Ignore any "in-progress" work folder that is not ready for sharing
*in_progress*
